<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="login" method="POST">
        {% csrf_token %}

        <input type="text" name="user_name" placeholder="UserName"><br>


        <input type="text" name="password1" placeholder="Password"><br>
        <input type="submit">

    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>

</html>