<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form action="register" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="FirstName"><br>

        <input type="text" name="last_name" placeholder="LastName"><br>

        <input type="text" name="user_name" placeholder="UserName"><br>

        <input type="text" name="email" placeholder="Email"><br>

        <input type="text" name="password1" placeholder="Password"><br>
        <input type="text" name="password2" placeholder="Confirm Password"><br>
        <input type="submit">

    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>

</html>